.App {
  height: 100%;
  background-color: #ffff;
  background-image: url("/src/images/2560x1440-pastel-red-solid-color-background.jpg"), -moz-linear-gradient(60deg, rgba(255, 33, 13, 0.5) 5%, rgba(231, 255, 246, 0.35)), url("/src/images/bg.jpg");
  background-image: url("/src/images/2560x1440-pastel-red-solid-color-background.jpg"), -webkit-linear-gradient(60deg, rgba(255, 33, 13, 0.5) 5%, rgba(231, 255, 246, 0.35)), url("/src/images/bg.jpg");
  background-image: url("/src/images/2560x1440-pastel-red-solid-color-background.jpg"), -ms-linear-gradient(60deg, rgba(255, 33, 13, 0.5) 5%, rgba(231, 255, 246, 0.35)), url("/src/images/bg.jpg");
  background-image: url("/src/images/2560x1440-pastel-red-solid-color-background.jpg"), linear-gradient(60deg, rgba(255, 33, 13, 0.5) 5%, rgba(231, 255, 246, 0.35)), url("/src/images/bg.jpg");
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 100px 100px, cover, cover;
  background-position: top left, center center, bottom center;
  background-attachment: fixed, fixed, fixed;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 2%;
}
